#django>=1.11,<1.12
#django-debug-toolbar==1.8
#gunicorn==19.4.5
#psycopg2==2.7.3.1
whitenoise==3.3.1
blinker==1.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
defusedxml==0.6.0
Django==2.2.5
django-allauth==0.37.1
django-extra-views==0.12.0
django-guardian==1.4.9
django-sendgrid-v5==0.8.1
django-taggit==0.23.0
future==0.18.2
gunicorn==20.0.4
idna==2.8
markdown2==2.3.8
oauthlib==3.0.1
psycopg2==2.8.4
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dotenv==0.9.1
python-http-client==3.2.1
python3-openid==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
sendgrid==6.1.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
win-inet-pton==1.1.0
wincertstore==0.2
